.locSheet-container {
    display: flex;
}

.locSheet {
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}

.daySheet-container {
    display: flex;
}

.daySheet {
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}

@media (max-width: 600px) {
    .daySheet-container {
        display: block;
    }

    .daySheet {
        width: fit-content;
    }
}

.timeNode {
    height: 20px;
}

.highlighted-time {
    background-color: red;
    color: white;
}

.highlighted-sheet {
    background-color: #D3D3D3;
}

table{
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 5px;
}

.border-less {
    border: none;
}